//Compass modules
@import "compass/reset";
@import "compass/css3";

@import "mixins";
@import "skin";

* {
	@include box-sizing(border-box);
}

html {
	@include fullScreen(); 
	body {
		position: relative;
		background-color: $background;
		min-height: 100vh;
		@include display-flex;
  		@include align-items(center);
		@include justify-content(center);
		#board {
			position: relative;
			width: 96vmin;
			height: 96vmin;
			background-color: $board-body;
			border: 1vmin $board-border solid;
			@include display-flex;
			@include flex-flow(column wrap);
			@include justify-content(space-between);
		}
		#players {
			position: relative;
			width: 14vmin;
			height: 96vmin;
			background-color: $board-body;
			border: 1vmin $board-border solid;
			@include display-flex;
			@include flex-flow(column wrap);
			.player {
				width: 100%;
				height: 50%;
				.name {
					width: 100%;
					height: 10%;
					background-color: $whites;
					color: $blacks;
				}
				.drop-area {
					width: 100%;
					height: 90%;
					background-color: shade($whites, 10%);
				}
			}
			#black {
				.name {
					background-color: $blacks;
					color: $whites;
				}
				.drop-area {
					background-color: tint($blacks, 10%);
				}
			}
			.current .name {
				background-color: $alert !important;
				color: $board-body !important;
			}

		}
		#debug {
			position: absolute;
			top: 1vmin;
			left: 1vmin;
		}
	}
}

#board {

	.qdr {
		width: 43vmin;
		height: 47vmin;
		@include display-flex;
		@include flex-flow(row nowrap);
		padding: 0 .5vmin;
		.cl {
			position: relative;
			width: (100% / 6);
			height: 100%;
			@include display-flex;
			@include align-items(flex-start);
			@include justify-content(flex-start);
			@include flex-flow(column wrap);
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-left: 3.5vmin solid transparent;
				border-right: 3.5vmin solid transparent;
				border-top: 36vmin solid;
				background: transparent;
				/* @include display-flex;
				@include align-self(flex-start); */
			}
			&:nth-child(odd)::after {
				@include stripesColor($board-light-stripe);
			}
			&:nth-child(even)::after {
				@include stripesColor($board-dark-stripe);
			}
			.white {
				@include boardItem($whites);
			}
			.black {
				@include boardItem($blacks);
			}
			&[moveTarget="true"]::after {
				@include stripesColor($board-target-stripe);
			}
			&[onTarget="true"]::after {
				@include stripesColor($board-target-hover);
			}
		}
		&-1 {
			top: 0;
			left: 0;
		}
		&-2 {
			top: 0;
			right: 0;
		}
		&-3 {
			bottom: 0;
			right: 0;
			@include flex-flow(row-reverse nowrap);
			.cl {
				@include justify-content(flex-end);
			}
			.cl::after {
				top: auto;
				bottom: 0;
				border-top: 0px;
				border-bottom: 36vmin solid;		
			}
		}
		&-4 {
			bottom: 0;
			left: 0;
			@include flex-flow(row-reverse nowrap);
			.cl {
				@include justify-content(flex-end);
			}
			.cl::after {
				top: auto;
				bottom: 0;
				border-top: 0px;
				border-bottom: 36vmin solid;
			}
		}
	}
	&-bar {
		@include display-flex;
		@include flex-flow(column wrap);
		@include align-content(center);
		@include justify-content(space-around);
		width: 8vmin;
		height: 96vmin;
		background-color: $board-border;
		.white {
			@include boardItem($whites);
		}
		.black {
			@include boardItem($blacks);
		}
		.item {
			border-color: #FFCA28;
		}
	}
	#dices {
		position: absolute;
		height: 6vmin;
		width: 13vmin;
		top: 44vmin;
		left: 15vmin;
		.dice {
			position: absolute;
			top: 0;
			left: 0;
			width: 6vmin;
			height: 6vmin;
			background-color: $board-border;
			padding: .9vmin;
			@include border-radius(1vmin);
			@include display-flex;
			@include flex-flow(row wrap);
			@include justify-content(space-between);
			@include align-content(space-between);
			&:nth-child(2) {
				left: auto;
				right: 0;
			}
			.dot {
				@include display-flex;
				width: 1.2vmin;
				height: 1.2vmin;
				@include border-radius(1vmin);
				background-color: $board-border;
			}
			&-1 .dot {
				&:nth-child(5) {
					background-color: $board-body;
				}
			}
			&-2 .dot {
				&:nth-child(1), &:nth-child(9) {
					background-color: $board-body;
				}
			}
			&-3 .dot {
				&:nth-child(1), &:nth-child(5), &:nth-child(9) {
					background-color: $board-body;
				}
			}
			&-4 .dot {
				&:nth-child(1), &:nth-child(3), &:nth-child(7), &:nth-child(9) {
					background-color: $board-body;
				}
			}
			&-5 .dot {
				&:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(9) {
					background-color: $board-body;
				}
			}
			&-6 .dot {
				&:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(6), &:nth-child(7), &:nth-child(9) {
					background-color: $board-body;
				}
			}
				
		}
	}	
}